<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.bolitao.my_mall.mapper.PmsAlbumPicMapper">
  <resultMap id="BaseResultMap" type="xyz.bolitao.my_mall.entity.PmsAlbumPic">
    <!--@mbg.generated-->
    <!--@Table pms_album_pic-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="album_id" jdbcType="BIGINT" property="albumId" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, album_id, pic
  </sql>
</mapper>